/*#
# Xmtds.tmpl for Xmtds
# 
# Made by Hydrix
# Login   <hydrix@epita.fr>
# 
# Started on  Thu Nov 17 16:30:23 1994 hydrix
# Last update Mon Nov 21 14:21:17 1994 hydrix
#
*/

        HYDRIX_DIR = /home/sparc/muquit/Xmtds-0.2


           STD_DIR = $(HYDRIX_DIR)
   STD_INCLUDE_DIR = $(STD_DIR)/include

         XMTDS_DIR = $(HYDRIX_DIR)
 XMTDS_INCLUDE_DIR = $(XMTDS_DIR)/include
     XMTDS_LIB_DIR = $(XMTDS_DIR)/lib
         XMTDS_LIB = $(XMTDS_LIB_DIR)/libXmtds.a
